@import "variables";
.textocontacto{
    h2{
        @include textotituloh2;
    }
    p{
        @include textop;
    }
}
.form{
    background-color: white;
    border-radius: 10px;
}
.btn-primary{
    margin-bottom: 10px;
}